body {
    background-image: url('./../assets/background.gif');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
    margin: 0;
  }

/*********************************/
/*This is the entire webpage grid*/
/*********************************/

.container {
    display: grid;
    grid-template-columns: [start line1] 10% [line2] 15% [line3 header-start] auto [line4 header-end] 15% [line5] 10% [line6 end];
    grid-template-rows: [line1 start] 25% [line2] 100px [line3] auto [line4] 20% [line5] 5% [line6 end];
    width: 100vw;
    height: 100vh;
}

/********************/
/*This is the header*/
/********************/

.welcome {
    font-family: 'Papyrus', 'Times New Roman', 'Serif';
    text-align: center;
    margin: 2%;
    padding: 10px;

    background-image: url("./../assets/parchment.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}

.header {
    grid-column-start: header-start;
    grid-column-end: header-end;
}

/******************************************/
/*This is the right coloumn of the webpage*/
/******************************************/
.right-col {
    grid-column-start: start;
    grid-column-end: line3;
    grid-row-start: start;
    grid-row-end: line5;
}

.blank {
    height: 20%;
}

.ToC {
    height: 40%;
    border-style: double;
    border-width: thick;
    border-radius: 5%;
    border-color: darkgoldenrod;
    margin-left: 5%;
    margin-right: 25%;
    background-color: rgb(255, 235, 205, .9);
}

.toc-title {
    text-align: center;
}

.projects {
    padding: 0;
    margin-top: 5%;
}

.AboutMe {
    height: 30%;
    border-style: double;
    border-width: thick;
    border-radius: 5%;
    border-color: darkgoldenrod;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 25%;

    background-color: rgb(255, 235, 205, .9);
}

.AboutMeTitle {
    text-align: center;
}

.AboutMePara {
    margin: 5%;
}

.offset {
    margin-left: 10%;
    margin-right: 10%;
}

/*****************************************/
/*This is the left coloumn of the webpage*/
/*****************************************/
.left-col {
    grid-column-start: line4;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: line4;
}