body {
    background-image: url('./../assets/background.gif');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/*********************************/
/*This is the entire webpage grid*/
/*********************************/

.container {
    display: grid;
    grid-template-columns: [start line1] 10% [line2] 15% [line3 header-start] auto [line4 header-end] 15% [line5] 10% [line6 end];
    grid-template-rows: [line1 start] 25% [line2] 100px [line3] auto [line4] 5% [line5 end];
    width: 100vw;
    height: 100vh;
}

/********************/
/*This is the header*/
/********************/

.welcome {
    font-family: 'Papyrus', 'Times New Roman', 'Serif';

    background-color: rgb(255, 235, 205, .6);
    text-align: center;
    margin: 2%;
    padding: 10px;

    border-bottom-style: solid;
    border-radius: 50%;
    border-color: darkgoldenrod;
}

.header {
    grid-column-start: header-start;
    grid-column-end: header-end;
}

/******************************************/
/*This is the right coloumn of the webpage*/
/******************************************/
.right-col {
    grid-column-start: start;
    grid-column-end: line3;
    grid-row-start: start;
    grid-row-end: line4;
}

.blank {
    height: 20%;
}

.ToC {
    height: 80%;
    border-style: double;
    border-width: thick;
    border-radius: 5%;
    border-color: darkgoldenrod;
    margin-left: 5%;
    margin-right: 25%;

    background-color: rgb(255, 235, 205, .6);
}

.offset {
    margin-left: 5%;
    margin-right: 5%;
}

/*****************************************/
/*This is the left coloumn of the webpage*/
/*****************************************/
.left-col {
    grid-column-start: line4;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: line4;
}