body {
    background-image: url('./../assets/background.gif');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Papyrus', 'Times New Roman', 'Serif';

    background-color: rgb(255, 235, 205, .5);
    text-align: center;
}